@keyframes vibrate {
  0% {
    transform: translateX(-90px);
  }
  50% {
    transform: translateX(90px);
  }
  100% {
    transform: translateX(-90px);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
  }
}