@mixin animation-args($name, $duration) {
  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: infinite;
}
@import 'animations';
@import 'variations';

.appTitle {
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
}

.container * {
  overflow-x: hidden;
}

.box {
  height: 200px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: black;

  .inner-box {
    height: 200px;
    margin: 0px auto;
  }

}

.ball {
  height: 15px;
  width: 15px;
  margin: 5px auto;
  padding: 0px;
  border-radius: 50%;
}

.ball-lg {
  height: 120px;
  width: 120px;
  margin: 15% auto;
  padding: 0px;
  border-radius: 50%;
  background-color: white;
}

.vibrate {
  animation-timing-function: ease-in-out;
}

.slide.ball {
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.boing {
  animation-timing-function: ease;
  @include animation-args(boing, 3s);
}

.entrance {
  @include animation-args(entrance, 2s);
}