@import 'animations';

.appTitle {
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
}

.box {
  height: 200px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;

  button {
    /*
    ** Button!
    */
  }

  .inner-box {
    height: 200px;
    margin: 0px auto;
  }

}

.ball {
  height: 15px;
  width: 15px;
  margin: 5px auto;
  padding: 0px;
  border-radius: 50%;
  background-color: orange;
}

.vibrate {
  animation-name: vibrate;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}