@import 'animations';
@mixin animation-args($name, $duration) {
  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: infinite;
}

.appTitle {
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
}

.box {
  height: 200px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;

  button {
    /*
    ** Button!
    */
  }

  .inner-box {
    height: 200px;
    margin: 0px auto;
  }

}

.ball {
  height: 15px;
  width: 15px;
  margin: 5px auto;
  padding: 0px;
  border-radius: 50%;
  background-color: orange;
}

.vibrate {
  @include animation-args(vibrate, 4s);
  animation-timing-function: ease;
}

.ball.vibrate:nth-child(1) {
  background-color: orange;
}

.ball.vibrate:nth-child(2) {
  background-color: purple;
}

.ball.vibrate:nth-child(3) {
  background-color: yellow;
}
