/*
** Color palettes
** [#3764B1, #FDC20B, #EF3266, #CCE32C, #D96C3B]
*/


/*
******
*********
************ VIBRATE
*********
******
*/

.ball.vibrate:nth-child(1) { margin-top: 10px; background-color: #3764B1; @include animation-args(vibrate, 3.5s); }

.ball.vibrate:nth-child(2) { background-color: #FDC20B; @include animation-args(vibrate, 3s); }

.ball.vibrate:nth-child(3) { background-color: #EF3266; @include animation-args(vibrate, 2s); }

.ball.vibrate:nth-child(4) { background-color: #CCE32C; @include animation-args(vibrate, 2.8s); }

.ball.vibrate:nth-child(5) { background-color: #D96C3B; @include animation-args(vibrate, 3.5s); }

.ball.vibrate:nth-child(6) { background-color: white; @include animation-args(vibrate, 2.2s); }

.ball.vibrate:nth-child(7) { background-color: #FDC20B; @include animation-args(vibrate, 3.9s); }

.ball.vibrate:nth-child(8) { background-color: #3764B1; @include animation-args(vibrate, 3.1s); }

.ball.vibrate:nth-child(9) { background-color: #D96C3B; @include animation-args(vibrate, 2.5s); }


/*
******
*********
************ SLIDE
*********
******
*/

.slide.ball:nth-child(odd) { @include animation-args(slideFromLeft, 2s); }

.slide.ball:nth-child(even) { @include animation-args(slideFromRight, 2s); }

.ball.slide:nth-child(1) { margin-top: 10px; animation-delay: 0s; }

.ball.slide:nth-child(2) { animation-delay: 0.1s; }

.ball.slide:nth-child(3) { animation-delay: 0.2s; }

.ball.slide:nth-child(4) { animation-delay: 0.3s; }

.ball.slide:nth-child(5) { animation-delay: 0.4s; }

.ball.slide:nth-child(6) { animation-delay: 0.5s; }

.ball.slide:nth-child(7) { animation-delay: 0.6s; }

.ball.slide:nth-child(8) { animation-delay: 0.7s; }

.ball.slide:nth-child(9) { animation-delay: 0.8s; }
